{
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
